@import 'https://fonts.googleapis.com/css?family=Lato:900,700,400|Jura:400';

body {
  background: url('./pics/nebula.jpg');

}

.buttonicon {
  background-color: #E4F1FE!;
}

.shuttlebutton {
  line-height: 5.91;
  margin: 0 0 0 33px;
}

.btn { 
  background-color: #00838f 
}

input {
  color: #E4F1FE;
}

label {
  color: #E4F1FE;
}

html {
  font-family: "Jura", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
    color: #E4F1FE;
}

h4 { 
  color: #E4F1FE;
}
.explanation {
  padding: 15px;
  background-color:#2C3E50;
  font-family: "Jura", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.9;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
    color: #E4F1FE;
}
.image {
    border-radius: 30px;
}

.explanation {
  border-radius: 30px;

}

p {
    font-family: "Jura", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
}
